.drop-down-button {
	min-width: 100px;
	height: 48px;
	cursor: pointer;
	user-select: none;

	.label-container {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 48px;

		& > div {
			display: inline-block;
		}

		.label {
			font-size: 15px;
			line-height: 56px;
		}

		div.sort-icon {
			margin-left: 10px;
			color: rgb(224, 224, 224);
			height: 20px;
		}
	}
}
