.inside-higher-ed {
	$list-details-margin: 200px;
	width: 100%;
	margin-top: 20px;

	.display-list {
		display: flex;
		justify-content: space-around;

		.product-list {
			margin-right: 50px;
			width: 350px;
		}

		.category-list {
			width: 800px;
			position: relative;

			.list-header {
				.required {
					margin-left: $list-details-margin;
				}

				.multiple {
					margin-left: 90px;
				}
			}

			.list-item {
				height: 60px;
			}

			.cat-name {
				width: 40%;
				position: absolute;
			}

			.primary {
				.mandatory {
					position: absolute;
					left: 325px;
				}

				.multiple {
					position: absolute;
					left: 470px;
				}
			}
		}
	}
}
