.job-status {
	display: flex;
	height: 80%;
	margin-top: 20px;
	padding-left: 10px;

	div.left-content {
		min-width: 200px;
		width: 10%;
		height: 100%;

		.btn-process {
			margin-bottom: 5px;
		}

		textarea {
			outline: 0px !important;
			-webkit-appearance: none;
			width: 100%;
			height: 80%;
			padding: 0;
			font-size: 15pt;
			resize: none;
			display: block;
		}
	}

	div.right-content {
		width: 83%;
		margin-left: 20px;

		.job-list {
			.integration-type {
				width: 60px;
			}

			.posting-id, .job-id {
				width: 50px;
			}

			.packet-id {
				width: 40px;
			}

			.site-id {
				width: 40px;
			}

			.job-site-status {
				width: 140px;
			}

			.job-status-added {
				width: 88px;
			}

			.denorm {
				width: 40px;
			}

			tr, td {
				font-size: 11px !important;
			}
		}

		.filters {
			.integration-types-dropdown, .integration-class-dropdown, .status-types-dropdown {
				margin-left: 0px !important;
				margin-right: 0px !important;
			}

			.integration-types-dropdown {
				width: 190px;
			}

			.integration-class-dropdown {
				width: 127px;
			}

			.status-types-dropdown {
				width: 265px;
			}

			.search-input {
				margin-left: 15px;
				width: 190px !important;
			}
		}
	}
}
