/* Load fonts here */
@font-face {
	font-family: 'Roboto', 'sans-serif';
}

html, body, #root {
	font-family: 'Roboto', 'sans-serif' !important;
	margin: 0;
	background-color: #f5f8fa;
	height: 100%;
	width: 100%;
}

.layout {
	height: 100%;

	.header {
		display: flex;
		width: 100%;
		background-color: #2a2b2c;
		position: relative;
		height: 80px;

		.jobtarget-logo {
			width: 300px;
			height: 70px;
			display: inline-block;
			padding: 5px 0 5px 20px;
		}

		.drop-down {
			position: absolute;
			right: 10px;
			display: inline-block;
			height: 20px;
			margin-top: 30px;

			.btn {
				border: 0;
				background-color: transparent;
				cursor: pointer;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;

				i {
					color: #fff;
				}
			}
		}
		.menu {
			.container {
				max-width: 200px;
				margin-top: 80px;

				a {
					text-decoration: none;
					color: #000;
				}

				.fa-arrow-circle-left {
					margin-right: 10px;
				}
			}
		}
	}

	.main-content {
		width: 80%;
		margin: auto;
		position: relative;

		h1, h2 {
			text-align: center;
		}

		.add-new {
			position: absolute;
			right: 0;
			top: 20px;
		}

		.table-list {
			display: block;
			display: flex;
			justify-content: center;

			.react-bs-table-container {
				width: 100%;
				table {
					width: 100%;
				}
			}

			.col-id {
				width: 50px;
			}

			.col-title {
				width: 200px;
			}

			.col-date {
				width: 120px;
			}

			.col-active {
				width: 50px;
			}
		}
	}

	.module-title {
		text-align: center;
		margin-bottom: 50px;
		font-weight: 400;
		font-size: 20pt;
	}
}

/* Load module styles */
@import 'tear-sheet.scss';
@import 'inside-higher-ed.scss';
@import 'integration-stats.scss';
@import 'job-status.scss';
@import 'site-settings.scss';
@import 'drop-down-button.scss';
