.site-settings {
	padding-top: 20px;
	width: 80%;
	margin: auto;

	h1, h2 {
		text-align: center;
	}

	.search-box {
		max-width: 600px;
		margin: auto;

		span {
			margin-right: 10px;
		}

		.search-container {
			width: 100%;
			display: inline;
			position: relative;

			input {
				width: 85%;
				height: 30px;
				font-size: 13pt;
				outline: none;
			}

			.results-container {
				z-index: 2;
				position: absolute;
				top: 27px;
				left: 0;
				width: 100%;
				background-color: #fff;
				display: none;

				&.show {
					display: block;
				}

				.result-item {
					margin-bottom: 5px;
					margin-left: 5px;
					cursor: pointer;

					&:hover {
						background-color: #2a2b2c;
						color: #fff;
					}
				}

				.result-item-selected {
					background-color: #2a2b2c;
					color: #fff;
				}
			}
		}
	}

	.details {
		border-top: 1px solid black;
		margin-top: 40px;
		padding-top: 10px;

		.selected-site-display {
			h3 {
				font-weight: 100;
				font-size: 20pt;
				margin: 0;
			}

			span {
				font-size: 10pt;
				font-style: italic;
			}
		}

		.setting {
			position: relative;
			margin: 10px 0 100px 0;

			.setting-header {
				.setting-main {
					text-align: center;
					margin-bottom: 15px;
					display: flex;
					justify-content: center;
					user-select: none;
					
					span {
						font-size: 8pt;
						align-self: center;
						margin-left: 10px;
						cursor: pointer;
					}
				}

				.add-new {
					position: absolute;
					top: -20px;
					right: 0;
				}
			}

			.settings-list {
				.table-list {
					.col-id, .col-date {
						width: 70px;
					}

					.col-active {
						width: 20px;
					}
				}
			}
		}
	}
}
